@import "colors";
@import "fonts";
@import "typography";

body{
    display: block;
    width:100vw;
    max-width:100vw;
    overflow-x: hidden;
}

section{
    position: relative;
    min-height:100vh;
    width:100vw;
    padding-top:6.25rem;
    display: flex;
    align-items: center;
    justify-content: space-around;
    // mix-blend-mode: difference;
}
.bg-container{
    position: absolute;
    width:100%;
    height: 100%;
    z-index:-1;

}
.well {
    min-width:300px;
    min-height:300px;
}
.icon{
    width:32px;
    height:32px;
}
.jumbotron{
    padding: 2rem;
    .icon{
        box-sizing: border-box;
        border-radius: 50%;
        width:3rem;
        height:3rem;
        padding:0.5rem;
        svg{
            width:2rem;
            height:2rem;
        }
    }
    &-overflowed{
        --layer-z-index: 1;
        position: absolute;
        // bottom:0;
        // right:0;
        top:2rem;
        left:2rem;
        z-index:var(--layer-z-index);
        width:60%;
        
        padding:0.25rem 1rem;
        border:1px solid var(--theme-color-main);
        border-radius:5px;

        .icon{
            display: block;
            float: right;
        }
        h5{ margin-top: 0;}

        + .jumbotron-overflowed{
            // bottom: 5rem;
            // right:5rem;
            --layer-z-index:calc(var(--layer-z-index) + 1);
            z-index:var(--layer-z-index);
            top:5rem;
            left:5rem;
            padding:0.25rem 1rem;

            h5{ margin-top: 0;}
            
            + .jumbotron-overflowed{
                --layer-z-index:calc(var(--layer-z-index) + 1);
                z-index:var(--layer-z-index);
                // bottom:10rem;
                // right:10rem;
                top:5rem;
                left:5rem;
                
                padding:0.25rem 1rem;

                h5{ margin-top: 0;}

                &:hover{
                    z-index:10;
                }
            }
        }
        &:hover{
            z-index:10;
        }
    }
    &.tab-pane{
        min-width:50vw;
        max-width:90vw;
        min-height: 50vh;
        background: rgba(0, 0, 0, 0.5);
    }
}

// button{
//     min-width:2rem;
//     min-height:2rem;
//     outline:none;
//     padding:0.25rem;
//     &.btn-success{
//         color:white;
//         background-color:#5cb85c;
//     }
// }

.img-skewed {
    -webkit-perspective: 1500px;
    perspective: 1500px;
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
    &-left {
        -webkit-perspective-origin: left center;
        perspective-origin: left center;
        & .img-skewed-item {
            -webkit-transform: rotateY(-35deg) rotateX(15deg);
            transform: rotateY(-35deg) rotateX(15deg);
            -webkit-backface-visibility: hidden;
            backface-visibility: hidden;
        }
    }
}

#features{
    .jumbotron{
        box-shadow: 1px 1px 5px var(--theme-color-dark);
        transition: all 0.5s ease-in-out;
        h5{
            display: block;
            &:after{
                content: "";
                display: block;
                position: relative;
                width:0;
                height:3px;
                background-color: var(--theme-color-main);                
                
            }            
        }
        p{
            text-align: justify;
        }
        &:hover {
            h5:after{
                width:100%;
                transition: all 0.5s ease-in-out;
            }
            p.text-muted{
                color:var(--theme-color-text) !important;
            }
        }
    }
}

.btn{
    outline:none;
    &-shade{
        display: flex;
        flex-flow: row nowrap;
        margin-bottom: 2rem;
        background: var(--theme-color-shade);
        color:var(--theme-color-text);
        .icon{
            margin-right:.5rem;
        }
        span{
            padding-left: .5rem;
            border-left:3px solid transparent;
        }
        &:hover{
            color:var(--theme-color-text);
            
        }
        &.active{
            .icon{
                display: block;        
            }
            span{
                border-left-color:var(--theme-color-main);
            
            }
        }
    }
}

.shine{
    position: relative;
    overflow: hidden;
    // width: 50px;
    // height: 50px;
    // display: inline-block;

    // border-radius: 5px;
    // text-decoration: none;
    // text-align: center;
    // line-height: 50px;
    // font-size: 12px;
    // font-family: sans-serif;
    // margin: 25px 0 25px 25px;
    // color: #fff;
    // background: cornflowerblue;
    &:after {
        content: "";
        position: absolute;
        top: -210%;
        left: -310%;
        width: 300%;
        height: 300%;
        opacity: 0;
        transform: skew(30deg);
    
        background: rgba(255, 255, 255, 0.13);
        background: linear-gradient(
          to right,
          rgba(255, 255, 255, 0.13) 0%,
          rgba(255, 255, 255, 0.13) 77%,
          rgba(255, 255, 255, 0.5) 92%,
          rgba(255, 255, 255, 0.0) 100%
        );
    }
    &:hover:after {
        opacity: 1;
        top: -30%;
        left: -30%;
        transition-property: left, top, opacity;
        transition-duration: 0.7s, 0.7s, 0.15s;
        transition-timing-function: ease;
    }
    &:active:after {
        opacity: 0;
    }
}

  
  


@import "components/header";
// @import "components/buttons";
 
@import "../plugins/darklight";

@media screen and (max-width: 30rem) {
     
}
body::-webkit-scrollbar {
    width: 0.5em; }
  
  body::-webkit-scrollbar-thumb {
    background: linear-gradient(to left, var(--brand-color-accent), var(--brand-color-accent) 5px,var(--brand-color-dark)); 
}


#aboutus-pills-tab>#aboutus-pills-history-tab.active + .bg-container{
    background:red;
}