html{
    font-family: "Lato", "RobotoRegular", font;
    font-size: 16px;
}
.skip-link, .screen-reader-text{
    display: block;
    width:1px;
    height:1px;
    position: absolute;
    top:-1;
    left:-1;
    color:transparent;
    overflow:hidden;
}
a{
    text-decoration: none;
    &:hover{
        text-decoration: none;
    }
    &:visited{
        text-decoration: none;
    }
}
h1{
    font-size: 3rem;
    margin-top: 3rem;
    margin-bottom: 1.5rem;
    &.brand-title{
        margin:0;
        font-size:24px;
        font-weight: bold;
        line-height: 2.5rem;
        &:before{
            font-size: 20px;
            font-weight: bold;
        }
    }
}
h2{
    font-size: 2.5rem;
    line-height: 2.5rem;
    margin-top: 2.5rem;
    margin-bottom: 1.5rem;
}
h3{
    font-size: 2rem;
    line-height: 2.5rem;
    margin-top: 2rem;
    margin-bottom: 1.5rem;
}
h4{
    font-size: 1.75rem;
    line-height: 2.5rem;
    margin-top: 1.75rem;
    margin-bottom: 1.5rem;
}
h5{
    font-size: 1.5rem;
    line-height: 2.5rem;
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
}
h6{
    font-size: 1.25rem;
    line-height: 2.5rem;
    margin-top: 0;
    margin-bottom: 1.5rem;
}
p{
    text-indent: 3rem;
}

.site-header{
    // font-size: 1.25rem;
    font-size: 1rem;
}
nav ul{
    list-style-type: none;
    margin:auto;
    padding:0;
    li{
        margin:0 1rem;
    }
}
@media screen and (max-width:1200px) {
    html{
        font-size:14px;
    }
}
