section#aboutus{
    justify-content: flex-start;
    align-items: flex-start;
    p{
        font-size: 1rem;
        line-height:1.5rem;
        text-indent:0;
        font-weight: bold;
    }
    .img{
        max-width:18.75rem;
    }
    & [role="tablist"]{
        margin-top: 6.25rem;
        // flex-direction: column-reverse;
        flex-direction: column;
    }
    & [role="tabpanel"] {
        padding:0;
        .tab-content-inner{
            margin-top: 6.25rem;
        }
    }
    & [data-toggle="pill"]{
        margin:1rem 0 0 0;
        padding-right:1rem;
        display: flex;
        flex-flow: row-reverse nowrap;
        transition: all .5s ease-out;
        span{
            display: block;
            max-height: 2rem;
            overflow: hidden;
        }
        &:before{
            content:"";
            display: block;
            width:0;
            height:inherit;
            margin:-1rem -1rem -1rem 0;
            background: var(--theme-color-main);
            transition: all .5s ease-out;
        }
    }
    & .active[data-toggle="pill"]{
        // order:1;
        margin:1rem 0 0 0;
        padding-right: 0;
        display: flex;
        flex-flow: row-reverse nowrap;
        transition: all .5s ease-out;
        &:before{
            content:"";
            display: block;
            width:4rem;
            height:inherit;
            margin:-1rem -1rem -1rem -3rem;
            // padding-right:3rem;
            background: var(--theme-color-main);
            transition: all .5s ease-out;
        }
    }
}
@media screen and (max-width:30rem) {
    section#aboutus{
        justify-content: flex-start;
        align-items: flex-start;
        & [role="tablist"]{
            // flex-direction: column-reverse;
            // flex-direction: column;
            & [data-toggle="pill"]{
                width:3rem;
                
                &:hover{
                    width:100%;    
                }
            }
            & .active[data-toggle="pill"]{
                width:4rem;
                // width:100%;
                // order: 1;
                span{
                    display:none;
                }
            }
        }
        & [role="tabpanel"] {
            padding:0;
            .tab-content-inner{
                padding-left:5rem;
            }
        }
    }
}