header.fixed-top-bar{
    position: fixed;
    top:0;
    left:0;
    right:0;
    z-index:1000;

    width:100vw;
    height:6.25rem; //100px
    display: block;
    .secondary-bar{
        z-index:-1;
        top:3.125rem;
    }
    .primary-bar{
        box-sizing: border-box;
        z-index:1002;
        flex-grow: 1;
        width:calc(100vw - 6.25rem);
        height:3.125rem;
        display: flex;
        flex-flow: row wrap;
        justify-content: space-between;
        align-items: flex-start;
        padding:0.25rem 0.25rem 0.25rem 0;
        margin-left: 6.25rem;

        @import "brand-label";
        
    }
}
    //     nav{
    //         margin:0 auto;
    //         max-height: 3.125rem;
    //         li{
    //             margin:0;
    //             padding:0.5rem;
    //             flex:1;
    //             flex-wrap: nowrap;
    //             align-items: baseline;
    //             justify-content: center;
    //             text-align:center;
    //             a{
    //                 display: block;
    //                 font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    //                 font-weight: 400;
    //                 text-align: center;
    //                 font-variant: small-caps;
    //                 text-decoration: none;

    //                 text-overflow: ellipsis;
    //                 white-space: nowrap;
    //                 overflow: hidden;
    //             }
    //         }
    //     }
    // }
    // .secondary-bar{
    //     flex-grow: 1;
    //     height:3.125rem;
    //     padding-left: 7rem;
    // }

// #landingNav{
//     display: flex;
//     flex-flow: row nowrap;

//     .menu{
//         display: flex;
//         flex-flow: row nowrap;
//         align-items: center;
//         justify-content: space-between;
//         margin:0 1rem;
//     }
// }
// #prefencesNav{
//     align-self: flex-start;
//     margin: 0 1rem;
//     button:not(.menu-toggle){
//         box-sizing: border-box;
//         width: 2.25rem;
//         height:2.25rem;
//         // border:2px solid;
//         border-radius: 50%;
//     }
// }
@media screen and (max-width:30rem) {
    header.fixed-top-bar{
        .primary-bar{
            .site-branding{
                order:1;
            }
            #landingNav{
                order:3;
                ul{
                    display: none;
                }
            }
            #prefencesNav{
                order: 2;
            }
        }
        .secondary-bar{display: none;}// TODO:make it fixed bottom
    }
    .menu-toggle{
        display: block;
        position: relative;
        visibility: visible;
    }
}

.hero-header{
    .map-svg{
        position: absolute;
        right:10%;
        max-width: 60%;
        transform: rotate(-15deg);
        z-index:-1;
    }
    .image-back-blob{
        display: block;
        width: 100%;
    }
    h2{
        margin-top:0;
        margin-bottom: 3rem;
    }
}
.cta{
    svg{
        .svg-arr{
            fill:var(--theme-color-text);
        }
        .svg-car{
            fill: none;
        }
        
    }
    &:hover{
        .svg-car{
            fill: var(--theme-color-text);
            stroke:1px var(--theme-color-text);
            // transform: translateX(15px);
            transition: all .5s ease-in-out;
        }   
    }
}






// prefences menu
#prefencesToggleButton {
    height: 3.5rem;
    margin-top: -.5rem;
    order:3;    
    background-color: var(--theme-color-main);
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    transition: all 1s;
    z-index:1003;
    svg {
        width: 1.75rem;
        fill:var(--theme-color-shade);
        cursor: pointer;
        margin:0.3rem 0;
        transform-origin: center center;
        transition: all 1s ease-in-out;
      }
}
#prefencesNav {
    position: fixed;
    right: 0;
    width: 100%;
    // top: -1px;
    // z-index:1001;

    .prefences-navbar{
        z-index:1;
        position: absolute;
        // top: 3.124rem;
        right: 0;
        flex-grow: 1;
        width:calc(100vw - 5rem);
        height:2.85rem;
        display: flex;
        flex-flow: row-reverse wrap;
        justify-content: flex-start;
        align-items: flex-start;
        padding:0;
        margin-left: 6.25rem;
        // background:var(--theme-color-shade);
        // box-shadow: 0px 1px 20px 0px #123;
    //     box-shadow: inset 10px 10px 15px -10px var(--theme-color-dark),
    // inset -10px -10px 15px -10px var(--theme-color-dark);
        transition: all 1s;
        &.hide{
        transform: translateY(-100px);
        }
    }
  }
  header .nav-link.shine:hover{
      border-bottom: 2px solid var(--theme-color-main);
  }