body::-webkit-scrollbar {
    width: 0.5em; }
  
  body::-webkit-scrollbar-thumb {
    background: linear-gradient(to left, var(--brand-color-accent), var(--brand-color-accent) 5px,var(--brand-color-dark)); 
}